body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

.md-tab span{
    color: #000;
}
.md-tab.md-active span{
    color: #00BCD4;
}