<!DOCTYPE html>
<html lang="pt" ng-app="App">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <!--<link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>-->

    <link rel="stylesheet" href="angular/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="css/angular.css"/>
</head>

<body ng-controller="AppCtrl as vm" layout="column" style="height:500px;" ng-cloak>

    <section>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
            <md-toolbar class="md-theme-light" ng-controller="LeftCtrl">
                <md-button aria-label="Close" ng-click="close()" class="md-fab md-primary">
                    <md-icon md-svg-src="img/svg/menu.svg"></md-icon>
                </md-button>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">

            </md-content>
        </md-sidenav>
        <md-content layout-padding>
            <div layout="column" layout-align="top center">
                <md-button ng-click="toggleLeft()" class="md-fab md-primary menu" aria-label="Use Android">
                    <md-icon md-svg-src="img/svg/menu.svg"></md-icon>
                </md-button>
            </div>

            <div layout="row" layout-sm="column" layout-align="center start" layout-wrap>
                <div>
                    <md-card>
                        <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->
                        <md-card-content>
                            <h2 class="md-title">Paracosm</h2>
                            <p>
                                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                            </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end left">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div>
                    <md-card>
                        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <h2 class="md-title">Paracosm</h2>
                            <p>
                                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                            </p>
                        </md-card-content>
                        <!--<md-card-actions layout="row" layout-align="end center">-->
                            <!--<md-button>Action 1</md-button>-->
                            <!--<md-button>Action 2</md-button>-->
                        <!--</md-card-actions>-->
                    </md-card>
                </div>
                <div>
                    <md-card>
                        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <h2 class="md-title">Paracosm</h2>
                            <!--<p>-->
                                <!--The titles of Washed Out's breakthrough song and the first single from Paracosm share the-->
                                <!--two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...-->
                            <!--</p>-->
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div>
                    <md-card>
                        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <h2 class="md-title">Paracosm</h2>
                            <p>
                                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                            </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div>
                    <md-card>
                        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <h2 class="md-title">Paracosm</h2>
                            <p>
                                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                            </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
                <div>
                    <md-card>
                        <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">
                        <md-card-content>
                            <h2 class="md-title">Paracosm</h2>
                            <p>
                                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
                            </p>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="end center">
                            <md-button>Action 1</md-button>
                            <md-button>Action 2</md-button>
                        </md-card-actions>
                    </md-card>
                </div>
            </div>

        </md-content>
    </section>

    <script src="angular/angular/angular.js"></script>
    <script src="angular/angular-animate/angular-animate.js"></script>
    <script src="angular/angular-aria/angular-aria.js"></script>
    <script src="angular/angular-material/angular-material.js"></script>

    <script src="js/angular.js"></script>

</body>

</html>