<!DOCTYPE html>
<html lang="pt" ng-app="App">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <title>Requisição</title>

    <link rel="stylesheet" href="angular/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="css/angular.css"/>
</head>

<body ng-controller="AppCtrl as vm" layout="column" style="height:500px;" ng-cloak>

    <section>
        <div layout="row" layout-sm="column" layout-wrap>
            <md-input-container flex>
                <label>URL</label>
                <input type="text" ng-model="requisicao.url"/>
            </md-input-container>
            <md-input-container>
                <label>Tipo requisição</label>
                    <md-select ng-model="requisicao.type">
                    <md-option ng-repeat="tp in type" value="{{tp}}">
                        {{tp}}
                    </md-option>
                </md-select>
            </md-input-container>
            <div layout="row" layout-sm="column" layout-align="center center" layout-align-sm=""  layout-wrap>
                <md-button class="md-raised md-primary" ng-click="send()">Enviar</md-button>
            </div>  
        </div>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="Headers">
                <md-content class="md-padding">
                    <div ng-repeat="rq in requisicao.headers" layout="row" layout-wrap>
                        <md-input-container flex>
                            <label>Param</label>
                            <input type="text" ng-model="rq.param"/>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Value</label>
                            <input type="text" ng-model="rq.value"/>
                        </md-input-container>   
                        <md-button class="md-icon-button launch" ng-click="removeHeaders(this.$index)" aria-label="remove">
                            <md-icon md-svg-icon="img/svg/delete121.svg"></md-icon>
                        </md-button>
                    </div>
                    <div layout="row" layout-align="center center" layout-wrap>
                        <md-button class="md-raised md-primary" ng-click="addHeaders()">Add</md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Body">
                <md-content class="md-padding">
                    <div ng-repeat="rq in requisicao.body" layout="row" layout-wrap>
                        <md-input-container flex>
                            <label>Param</label>
                            <input type="text" ng-model="rq.param"/>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Value</label>
                            <input type="text" ng-model="rq.value"/>
                        </md-input-container>
                        <md-button class="md-icon-button launch" ng-click="removeBody(this.$index)" aria-label="remove">
                            <md-icon md-svg-icon="img/svg/delete121.svg"></md-icon>
                        </md-button>     
                    </div>
                    <div layout="row" layout-align="center center" layout-wrap>
                        <md-button class="md-raised md-primary" ng-click="addBody()">Add</md-button>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Result">
                <md-content class="md-padding result">
                    <div layout="row" layout-wrap>
                        <pre>{{result}}</pre>
                    </div>
                </md-content>
            </md-tab>
            <md-tab label="Headers">
                <md-content class="md-padding result">
                    <div layout="row" layout-wrap>
                        <pre>{{header}}</pre>
                    </div>
                </md-content>
            </md-tab>
        </md-tabs>
    </section>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="angular/angular/angular.js"></script>
    <script src="angular/angular-animate/angular-animate.js"></script>
    <script src="angular/angular-aria/angular-aria.js"></script>
    <script src="angular/angular-material/angular-material.js"></script>

    <script src="js/angular.js"></script>

</body>

</html>